body {
    background-color: powderblue;
}
h1.title {
    color: blue;
}

p.regle {
    font-weight: bold;
    font-size: 18px;
  }

img {
    max-width:80%;
}
  
input 
    {background-color: #4CAF50;
    font-size: 16px;
    } 

#countdown

{
    font-size: 26px;
}

#question

{
    font-size: 20px;
}